$black-color: #262626;
$pink-color: #fd3a6c;
$list-ico-transition: ease-in 0.3s all;
$list-ico-bg-not-active: $black-color;
$list-ico-bg-is-active: $pink-color;


.Navigation {

  &__wrapper {
    width: max-content;
    padding: 40px 0 0 26px;
    border-right: 2px solid red;
  }

  &__logo {
    display: block;
    padding-left: 7px;
    margin-bottom: 45px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 

    &-item {
      margin-bottom: 36px;
      cursor: pointer; 
        
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      min-width: 180px;
      
      &-ico {
        display: inline-block;
        fill: $list-ico-bg-not-active;
        transition: $list-ico-transition;
      }
      
      &>span {
        display: inline-block;
        transform: translateX(8px);
        padding-right: 12px;
        margin-left: 8px;
        color: $black-color;
        font-size: 16px;
        transition: $list-ico-transition;
      }

      &:hover, &.is-active {
        &>span {
          transform: translateX(20px);
          color: $pink-color;
        }

        &>.Navigation__list-link-ico {
          transform: translateX(12px);
          //margin-left: 12px;
          fill: $list-ico-bg-is-active;
        }

        &::before {
          left: 0;
        }
      }

      &::before {
        position: absolute;
        left: -9px;
        content: '';
        width: 5px;
        height: 5px;
        background-color: $list-ico-bg-is-active;
        border-radius: 50%;
        transition: $list-ico-transition;
      }
    }
  }
}
