$black-color: #262626;

html {
  font-size: 14px;
  color: $black-color;
}

body {
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
